<?xml version="1.0"?>
<configuration>
  <system.web> 
    <compilation batch="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="scripts.js" verb="" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/" />
          <action type="Rewrite" url="scripts.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>